# Kaggle - WiDS Datathon 2022

## Modelo mean

### Description:

- All the features
- Separation train/test - 80/20
- Catboost
- Hiperparameters by default
- Cross validation
- Long value of iterations: 10000

- Public Score = XXX

# 1. Modules

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

#model
from catboost import CatBoostRegressor

#train/test split
from sklearn.model_selection import train_test_split

#pool class
from catboost import Pool

#cross validation
from catboost import cv

# 2. Data

In [36]:
#paths to model's results

modelo_5b = 'https://raw.githubusercontent.com/ccollado7/wds-datathon-2022/main/notebooks/modelos/modelo_5/modelo_5b.csv'
modelo_5c = 'https://raw.githubusercontent.com/ccollado7/wds-datathon-2022/main/notebooks/modelos/modelo_5/modelo_5c.csv'
modelo_6 = 'https://raw.githubusercontent.com/ccollado7/wds-datathon-2022/main/notebooks/modelos/modelo_6/modelo_6.csv'
modelo_interpretacion2 = 'https://raw.githubusercontent.com/ccollado7/wds-datathon-2022/main/notebooks/modelos/model_interpretation/modelo_interpretation_2.csv'
modelo_interpretacion1 = 'https://raw.githubusercontent.com/ccollado7/wds-datathon-2022/main/notebooks/modelos/model_interpretation/modelo_interpretation_1.csv'

In [37]:
df_modelo_5b = pd.read_csv(modelo_5b)
df_modelo_5c = pd.read_csv(modelo_5c)
df_modelo_6 = pd.read_csv(modelo_6)
df_modelo_interpretacion2 = pd.read_csv(modelo_interpretacion2)
df_modelo_interpretacion1 = pd.read_csv(modelo_interpretacion1)

In [38]:
submit_path = 'https://raw.githubusercontent.com/ccollado7/wds-datathon-2022/main/data/raw/sample_solution.csv'

In [39]:
#sumbit

submit = pd.read_csv(submit_path)
submit.head()

      id  site_eui
0  75757       0.0
1  75758       0.0
2  75759       0.0
3  75760       0.0
4  75761       0.0

In [40]:
models = [df_modelo_5b,df_modelo_5c,df_modelo_6,df_modelo_interpretacion1,df_modelo_interpretacion2]

In [41]:
site_eui_mean = (df_modelo_5b['site_eui'] + df_modelo_5c['site_eui'] + df_modelo_6['site_eui'] + df_modelo_interpretacion1['site_eui'] + df_modelo_interpretacion2['site_eui'])/len(models)
site_eui_mean

0       247.460643
1       226.063839
2       251.612063
3       254.889196
4       236.678025
           ...
9700     42.942052
9701     44.946675
9702     45.619117
9703     52.010428
9704     30.319335
Name: site_eui, Length: 9705, dtype: float64

In [42]:
submit['site_eui'] = site_eui_mean
submit.to_csv('modelo_mean.csv',index=False)